#title-box {
    margin-top: 50px;
}

div.header-item {
    display: inline-block;
    vertical-align: middle;
    margin: 20px;
}

#name-header {
    margin-bottom: 0px;
}

#title-header {
    margin-top: 0px;
    text-align: right;
}

#profile-box {
    display: inline;
}
