div.project-section {
    padding: 100px;
    margin-top: 70px;
}


h2.section-name {
    text-align: left;
    padding-bottom: 1rem;
}

p.blurb {
    margin-top: 1em;
}

div.fixed-card {
    max-width: 350px;
    min-width: 350px;
}
